# python cache
*.pyc
__pycache__/

# IDE files
.idea/
*.sublime-*
.vscode/

# Local files
local/env/*
.editorconfig
.eslintrc
dist/
.dump.rdb

# static files
statics/node_modules

# migrations
classgotcha/apps/accounts/migrations/*
classgotcha/apps/classrooms/migrations/*
classgotcha/apps/chatrooms/migrations/*
classgotcha/apps/posts/migrations/*
classgotcha/apps/tasks/migrations/*
classgotcha/apps/tags/migrations/*
classgotcha/apps/badges/migrations/*
classgotcha/apps/notifications/migrations/

!classgotcha/apps/accounts/migrations/__init__.py
!classgotcha/apps/classrooms/migrations/__init__.py
!classgotcha/apps/chatrooms/migrations/__init__.py
!classgotcha/apps/groups/migrations/__init__.py
!classgotcha/apps/posts/migrations/__init__.py
!classgotcha/apps/tasks/migrations/__init__.py
!classgotcha/apps/tags/migrations/__init__.py
!classgotcha/apps/badges/migrations/__init__.py
!classgotcha/apps/notifications/migrations/__init__.py


classgotcha/apps/chatrooms/static/*
classgotcha/apps/chatrooms/templates/*

.DS_Store
/npm-debug.log

